@import '../vars.css';

.panel {
	background: radial-gradient(circle at top, #252935, #181f29 80%);
	height: 420px;
	width: 420px;
	padding: 38px;
	border-radius: 30px;
}

.star {
	background: var(--dark-blue);
	height: 50px;
	width: 50px;
	border-radius: 100%;
	padding: 17px;
}

.title {
	margin-top: 25px;
	color: var(--white);
	font-size: 28px;
}

.text {
	color: var(--medium-grey);
	font-size: 15.3px;
	line-height: 1.4rem;
	margin-top: 10px;
}

.ratings {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.rating {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: var(--dark-blue);
	color: var(--medium-grey);
	border: none;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.1s ease;

	&:hover {
		background: var(--medium-grey);
		color: var(--white);
	}

	&:focus {
		background: var(--primary);
		color: var(--white);
		outline: none;
	}
}

.submit {
	margin-top: 30px;
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 40px;
	text-transform: uppercase;
	background: var(--primary);
	color: var(--white);
	letter-spacing: 2px;
	transition: all 0.05s ease;

	&:hover:not(:disabled) {
		background: var(--white);
		color: var(--primary);
    cursor: pointer;
	}

  &:disabled {
    cursor: default;
  }
}

.selected-rating {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: var(--dark-blue);
  border-radius: 40px;
  padding: 8px 20px;
  color: var(--primary);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}