@import '../vars.css';

.star {
	background: var(--dark-blue);
	height: 50px;
	width: 50px;
	border-radius: 100%;
	padding: 17px;
}

.ratings {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: var(--dark-blue);
	color: var(--medium-grey);
	border: none;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.1s ease;

	&:hover:has(:not(input:checked)) {
		background: var(--medium-grey);
		color: var(--white);
	}

	&:focus {
		background: var(--primary);
		color: var(--white);
		outline: none;
	}
}

.selected {
	background: var(--primary);
	color: var(--white);
	outline: none;
}

.submit {
	font-size: 13px;
	margin-top: 30px;
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 40px;
	text-transform: uppercase;
	background: var(--primary);
	color: var(--white);
	letter-spacing: 2px;
	transition: all 0.05s ease;

	&:hover:not(:disabled) {
		background: var(--white);
		color: var(--primary);
		cursor: pointer;
	}

	&:disabled {
		cursor: default;
	}
}
